html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-size: 1em;
  font-family: $font;
  width: 100%;
  height: 100vh;
  background-image: url(../../images/bg-pattern-top.svg),
    url(../../images/bg-pattern-bottom.svg),
    linear-gradient(rgba(25, 161, 173, 1), rgba(25, 161, 173, 1));
  background-repeat: no-repeat;
  background-size: 950px, 950px, contain;
  background-position: top -68vh left -34vh, bottom -79vh right -33vh, center;
  display: flex;
}
.flex {
  display: flex;
}
.dis-none {
  display: none;
}
