@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1em;
  font-family: "Kumbh Sans", sans-serif;
  width: 100%;
  height: 100vh;
  background-image: url(../../images/bg-pattern-top.svg), url(../../images/bg-pattern-bottom.svg), -webkit-gradient(linear, left top, left bottom, from(#19a1ad), to(#19a1ad));
  background-image: url(../../images/bg-pattern-top.svg), url(../../images/bg-pattern-bottom.svg), linear-gradient(#19a1ad, #19a1ad);
  background-repeat: no-repeat;
  background-size: 950px, 950px, contain;
  background-position: top -68vh left -34vh, bottom -79vh right -33vh, center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dis-none {
  display: none;
}

.card {
  width: 100%;
  height: 23.4375rem;
  background-color: white;
  border-radius: 16px;
  margin: auto 545px;
  position: relative;
  -webkit-box-shadow: 6px 11px 37px -14px rgba(0, 0, 0, 0.4);
          box-shadow: 6px 11px 37px -14px rgba(0, 0, 0, 0.4);
}

.card__background {
  position: absolute;
  height: 100%;
  width: 100%;
}

.card__background .cover-img {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  width: 100%;
  height: 37.33333%;
  background-image: url(../../images/bg-pattern-card.svg);
  background-size: cover;
  z-index: -1;
}

.card__content {
  position: absolute;
  margin-top: 87px;
  z-index: 4;
  width: 100%;
}

.card__content .pic-container {
  margin: 0 auto;
  width: 98px;
  min-height: 98px;
  max-height: 98px;
  background-color: white;
  border: 5px solid white;
  border-radius: 50%;
  overflow: hidden;
}

.card__content .pic-container__pro-pic {
  width: 100%;
  height: auto;
}

.card__content > div:nth-child(2) {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 24px;
}

.card__content > div:nth-child(2) .pro-name {
  font-size: 1.125rem;
  font-weight: 700;
  color: #2d3248;
  margin-right: 5px;
}

.card__content > div:nth-child(2) .pro-age {
  color: #6a6f81;
}

.card__content > div:nth-child(2) .place {
  color: #6a6f81;
  font-size: 0.9375rem;
  margin-top: 12px;
}

.card__content > div:nth-child(2) .separator {
  border-top: 1px solid #e8e8e8;
  height: 0;
  width: 100%;
  margin: 26px 0;
}

.card__content .stats-container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.card__content .stats-container .box {
  display: inline-block;
  text-align: center;
}

.card__content .stats-container .box > span {
  display: block;
}

.card__content .stats-container .box__nums {
  font-size: 1.125rem;
  font-weight: 700;
  color: #2d3248;
}

.card__content .stats-container .box__texts {
  margin-top: 10px;
  font-size: 0.75rem;
  color: #8f8f8f;
  letter-spacing: 1.2px;
}

@media screen and (max-width: 1000px) {
  body {
    background-size: 110vw, 110vw, contain;
    background-position: top -55vw left -55vw, bottom -55vw right -55vw, center;
  }
  .card {
    margin: auto 24px !important;
  }
}
/*# sourceMappingURL=style.css.map */